


<footer class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="content">
                   <div class="title" >
                       <h3>NASA STATION</h3>
                   </div>
                   <div class="list">
                       <ul>
                           <li><a href="#">nssc-contactcenter@nasa.gov</a></li>
                           <li><a href="#"> +1 202358-0001</a></li>
                       </ul>
                   </div>
                   <div class="social-icons">
                       <ul>
                           <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                           <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="content">
                   <div class="title" >
                       <h3>Shop by coolection</h3>
                   </div>
                   <div class="list">
                       <ul>
                           <li><a href="#">Clouds</a></li>
                           <li><a href="#">Constellation</a></li>
                           <li><a href="#">Elementals</a></li>
                           <li><a href="#">NASA</a></li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="content">
                   <div class="title" >
                       <h3>Helful</h3>
                   </div>
                   <div class="list">
                       <ul>
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Trade</a></li>
                           <li><a href="#">Contact us</a></li>
                           <li><a href="#">Videos</a></li>
                       </ul>
                   </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content">
                   <div class="title" >
                       <h3>Subscribe to our newsletter</h3>
                   </div>
                   <form id="cost" class="contact-form" action="/home" method="POST">
                       <div class="form-group">
                           <input class="form-control" type="text" name="fName" id="first" placeholder="Enter your First name">
                       </div>
                       <div class="form-group">
                        <input class="form-control" type="text" name="lName" id="last"  placeholder="Enter your Last name">
                         </div>
                       <div class="form-group">
                        <input class="form-control" type="email" name="email" id="address"  placeholder="your@email.com">

                    
                    </div>
                    <button type="submit" class="btn" onclick="send()">Subscribe</button>
                   </form>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>&copy;2020 NASA STATION</p>
        </div>
    </div>
</footer>





<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   
 
<script src="js/index.js"></script>
 
 </body>
</html>