<%- include('partials/header') %>



<div class="about">
    <section class="fact">
        <div class="container">
            <div class="content text-center">
                <div class="title">
                    <h1>ABOUT NASA</h1>
                </div>
                <div class="para">
                    <p>
                        Created in collaboration with Crealev, a Dutch<br> company Known for its jaw-dropping levitation<br> technology, the Clould litterally floats.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="cats">
        <div class="container">
            <div class="row">
               
                <div class="col-md-6 col-12">
                    <div class="images">
                       <img alt="van" src="/images/about-images-1.jpg">
                     </div>
                </div>
                    <div class="col-md-6 col-12">
                        <div class="images">
                           <img alt="van" src="/images/about-images-2.jpg">
                         </div>
                    </div>
               
            </div>
        </div>
    </section>

    <section class="can" id="buns">
        <div class="container">
            <div class="title">
                <h3>THE DETAILS</h3>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-6 van">
                        <div class="title">
                            <h3>HOW DOES NASA WORK</h3>
                        </div>
                        <div class="para">
                            <p>
                                Embedded into both the base and the Cloud are<br> magnetic components that allow the cloud to float<br> appproximately 2.75 inches (70mm) off the base.
                            </p>
                            <a href="#" class="sheet">SPC SHEET</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="images">
                            <img src="/images/about-images-3.jpg">
                        </div>
                    </div>
                  </div>
            </div>
            <br>
        

            </br>
            <div class="card">
                <div class="row">
                    <div class="col-md-6 van">
                        <div class="title">
                            <h3>OUTER SPACE</h3>
                        </div>
                        <div class="para">
                            <p>
                                The Floating Cloud uses the exact same light modes<br> and effect as the Interactive Clould
                            </p>
                            <a href="#" class="sheet">GO</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="images">
                            <img src="/images/about-images-4.jpg">
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
    <section class="run">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="images">
                            <img src="/images/about-images-6.jpg" alt="limited">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content pad">
                        <div class="title">
                            <h3>Learn on the run</h3>
                        </div>
                        <div class="para">
                            <p>
                                The Floating cloud was a limited production run as a special<br> collabouration.We don't currently have any plans to do<br> another full production run but we do have a waitist if we<br>do. Conact us below if you like to be put on that waitist
                            </p>
                            <a href="/contact" class="limmited">Contact Us</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="joe">
    <div class="container-fluid px-0">
        <div class="images">

        </div>
       </div>
   </section>
</div>




<%- include('partials/footer') %>