<%- include('partials/header') %>

<div class="failure">
    <section class="fall">
        <div class="container">
            <div class="content text-center">
                <div class="title">
                    <h1>Error</h1>
                </div>
                <div class="para">
                    <p>There was an error with siging up, plase try again!</p>
                </div>
               
                    <a href="/home" class="btn" type="submit" name="button">Try again</a>
                

                <div class="images">
                    <img src="/images/Nasa-Desk-Nav-logo-1-removebg-preview.png" alt="fasd">
                </div>
            </div>
        </div>
    </section>
</div>




<%- include('partials/footer') %>