
  <%- include('partials/header') %>
<div class="house">
    <section class="home">
        <div class="container">
          
            <div class="content text-center">
                <div class="title">
                    <h1>NASA AT HOME</h1>
                </div>
                <div class="para">
                    <p>NASA at Home Brings the Universe to You</p>
                </div>
            </div>
     
            <a href="#details" class="btn header-link"><i class="fa fa-angle-down"></i></a>
        </div>
       </section>
      <section class="message" id="details">
          <div class="container">
              <div class="content text-center">
                 
                  <div class="para">
                    <p>
                        "In 2020, NASA will be taking long strides toward returning astronauts to the Moon, continuing the exploration of Mars and developing new technology to make supersonic aircraft fly more quietly." 
                     </p>
                  </div>
                 
              </div>
          </div>
      </section>

      <section class="clouds">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-12">
                      <div class="images">
                        <img alt="man" src="/images/cloulds-1.png">
                      </div>
                 
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="images">
                      <img alt="rock" src="/images/clouds-2.jpg">
                    </div>
               
                </div>
              </div>
          </div>
      </section>

      <section class="intro">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="content text-center">
                    <div class="title">
                       <h3>Introducing the  world into Space</h3>
                    </div>
                    <div class="button">
                      <a href="#" class="make">Explore</a>
                    </div>
                  </div>
                
              </div>
          </div>
      </section>

      <section class="team">
          <div class="container">
              <div class="row">
        
                  <div class="col-md-6 col-12">
                      <div class="images">
                        <img src="/images/team-1.jpg">
                      </div>
                  </div>
                  <div class="col-md-6 col-12">
                      <div class="padding">
                        <div class="title">
                            <h3>Our Team</h3>
                        </div>
                        <div class="para">
                            <p>
                                A series of Speaker and Lighing systems <br> inspired by the majic of clouds coupled<br> with advances in technology.
                            </p>
                        </div>
                      </div>
                      
                    </div>
              
              </div>
              <div class="row">
        
                <div class="col-md-6 col-12">
                   
                    <div class="padding">
                        <div class="title">
                            <h3>Constallation</h3>
                        </div>
                        <div class="para">
                            <p>
                                Inspire by the satrs and the connections<br> among them. A unified collection of <br>lighting, furniture and homegoods
                            </p>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="images">
                        <img src="/images/team-2.jpg">
                      </div>
                    
                  </div>
            
            </div>
            <div class="row">
        
                <div class="col-md-6 col-12">
                    <div class="images">
                      <img src="/images/team-3.jpg">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="padding">
                      <div class="title">
                          <h3>Our  Missions</h3>
                      </div>
                      <div class="para">
                          <p>
                             Everyday object reimagined with an<br> elegant playfulness. From bottle openers <br>to fruit bowls both functional and scuptural
                          </p>
                      </div>
                    </div>
                    
                  </div>
            
            </div>

            <div class="row">
        
                <div class="col-md-6 col-12">
                   
                    <div class="padding">
                        <div class="title">
                            <h3>NASA satellite</h3>
                        </div>
                        <div class="para">
                            <p>
                                The four elements of the natural world<br> Earth, Air, Wind and Fire. Eementals is an<br> exploration of lighting in these forms
                            </p>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="images">
                        <img src="/images/team-4.jpg">
                      </div>
                    
                  </div>
            
            </div>
          </div>
      </section>
      <section class="NASAV">
          <div class="container">
              <div class="row text-center">
                  <div class="col-lg-12">
                      <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/mB1nAzriqRQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="contactUS">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="content">
                          <div class="title">
                              <h3>WORK WITH US</h3>
                          </div>
                          <div class="para">
                              <p>
                                  We make ideas come to life, bringing engineering and<br>design together. If you have an idea or a project in mind, let's make it happen
                              </p>
                              <a href="/contact" class="US">CONTACT US</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="projects">
          <div class="container">
              <div class="title">
                  <h1>NASA PROJECTS</h1>
              </div>
              <div class="row">
                  <div class="col-md-4 col-12">
                      <div class="content">
                          <div class="images">
                              <img alt="projects-1" src="/images/NASA-Projects-1.jpg">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="content">
                        <div class="images">
                            <img alt="projects-2" src="/images/NASA-Projects-2.jpeg">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="content">
                        <div class="images">
                            <img alt="projects-3" src="/images/NASA-Projects-3.jpg">
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </section>
</div>



  <%- include('partials/footer') %>