<%- include('partials/header') %>


<div class="blog">
    <section class="studio">
        <div class="container">
            <div class="content text-center">
                <div class="title">
                    <h1>NASA Blog</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="cluster">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-1.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>How to style a cluster of rockets</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>MAY 10, 2020</strong>
                        </div>
                        <div class="para">
                            <p>
                                Clouds look great as individual units on their own but 
                                when presented as a cluster they really look amazing. If you have a smaller space a pair can be a great way to start, we recommend getting two different sizes and hanging them at slightly different heights, our cords are adjustable length upon installation which make that easy to do.     For more of a statement three clouds gives a lovely balance to the cluster. Again mixing the sizes will help give a 
                                sense of natural variation - more like the clouds in the real sky. You want to...
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-2.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>Meet TESS</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>NOV 21, 2019</strong>
                        </div>
                        <div class="para">
                            <p>
                                NASA's Transiting Exoplanet Survey Satellite (TESS) using 4 cameras captured the Southern Sky for about a month. Dividing up the sky into 13 sectors to form a panoramic image. The amount of stars is insane, you catch a side-on view of the Milky Way Galaxy. The video flies through the image and informs about key elements captured. In addition to its planet discoveries, TESS has imaged a comet in our solar system, followed the progress of numerous stellar explosions called supernovae, and even caught the flare from a star ripped apart by a supermassive black hole. After completing its southern...
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-3.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>How to style a cluster of rockets</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>MAY 10, 2020</strong>
                        </div>
                        <div class="para">
                            <p>
                                Clouds look great as individual units on their own but 
                                when presented as a cluster they really look amazing. If you have a smaller space a pair can be a great way to start, we recommend getting two different sizes and hanging them at slightly different heights, our cords are adjustable length upon installation which make that easy to do.     For more of a statement three clouds gives a lovely balance to the cluster. Again mixing the sizes will help give a 
                                sense of natural variation - more like the clouds in the real sky. You want to...
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-4.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>3D Energy</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>NOV 21, 2019</strong>
                        </div>
                        <div class="para">
                            <p>
                                3D printed moon lamp by an Architecture studio based in Toronto. In collaboration with a company called .Decimal to make the .015 or “Moon Lamp” - “In partnering with Decimal, we aimed to develop a design that could only be fabricated through 3D printing. With geometry that lends itself perfectly to the process, this product allows bubbles to moonlight as lunar lighting.”
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-5.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>How to style a cluster of rockets</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>MAY 10, 2020</strong>
                        </div>
                        <div class="para">
                            <p>
                                Clouds look great as individual units on their own but 
                                when presented as a cluster they really look amazing. If you have a smaller space a pair can be a great way to start, we recommend getting two different sizes and hanging them at slightly different heights, our cords are adjustable length upon installation which make that easy to do.     For more of a statement three clouds gives a lovely balance to the cluster. Again mixing the sizes will help give a 
                                sense of natural variation - more like the clouds in the real sky. You want to...
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-6.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>Space sound inspiration</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>OCT 22, 2019</strong>
                        </div>
                        <div class="para">
                            <p>
                                ‘Ad Astra’ writer and director, James Gray, listened to space sounds while creating his celestial world. The director created a playlist of sounds, which he listened to while writing the film. The sounds of space can be captured by converting electromagnetic waves into sound waves. 
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="content">
                        <div class="images">
                            <img src="/images/NASA-TV-images-7.jpg">
                        </div>
                        <div class="title text-center">
                            <h2>Black Spot on Jupiter</h2>
                        </div>
                        <div class="meta text-center">
                            <strong>OCT 22, 2019</strong>
                        </div>
                        <div class="para">
                            <p>
                                NASA’s solar-powered spacecraft, Juno, recently captured images of a 2,200-mile-long black spot on the surface of Jupiter. What some thought was a never before seen phenomenon actually turned out to be the shadow of Jupiter's volcanic moon, Lo, eclipsing the sun.
                            </p>
                        </div>
                        <a href="#" class="more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<%- include('partials/footer') %>