<%- include('partials/header') %>


<div class="success">
    <section class="hugs">
        <div class="container">
            <div class="content text-center">
                <div class="title">
                  <h1>Thank you!</h1>  
                  </div>
                  <div class="para">
                      <p>
                        You've been sucessfully signed up to our newsletter, looking forward to sending you great information about NASA!
                      </p>
                  </div>
                  <div class="images">
                      <img src="/images/Nasa-Desk-Nav-logo-1-removebg-preview.png" alt="sussces">
                  </div>
            </div>
        </div>
       
    </section>
</div>






<%- include('partials/footer') %>